name: Build and Test

on:
  push:
    branches:
      - develop
      - release
      - main
    paths:
      - "**/*.go"
      - ".github/workflows/action.yml"

env:
  GO_VERSION: 1.24.2

jobs:
  test-linux:
    name: format & test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Formatting
        run: go fmt **/*.go
      - name: Testing
        run: go test ./lib/...
      - name: Dry run build
        run: go build -n

  build-linux:
    name: build linux binary
    runs-on: ubuntu-latest
    needs: test-linux
    if: github.ref_name == 'main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install Pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc
      - name: Linux & Windows build
        run: make build exe doc
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: pncheck
          path: |
            pncheck
            pncheck.exe
            README.html
